@model School.Models.Department

<form action="/Department/SaveNew" method="get">
    <div>
        <label for="Name" class="form-label">Department Name:</label>
        <input type="text" class="form-control" id="Dname" placeholder="Enter Department Name" name="Name">
    </div> <BR />
    <button type="submit" class="btn btn-primary">Add New Department</button>
</form>
